<social>
  <div class="social noselect">
    <a href="https://www.pinterest.com/{ props.pinterest }">Pinterest</a> /
    <a href="https://www.linkedin.com/in/{ props.linkedin }">LinkedIn</a> /
    <a href="https://www.instagram.com/{ props.instagram }">Instagram</a>
  </div>
</social>