.debug1 {
  border: 1px dashed red; 
}

.debug2 {
  border: 1px dashed gold; 
}

.nav1 {
  box-sizing: border-box;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2em;
  padding-left: 4vw;
  padding-right: 0;
  font-size: 2.5em;
  font-weight: lighter;
  text-align: center;
  cursor: pointer;
}

.nav2 {
  box-sizing: border-box;
  position: absolute;
  right: 0;
  bottom: 0;
  height: 2em;
  padding-left: 2vw;
  padding-right: 4vw;
  font-size: 2.5em;
  font-weight: lighter;
  text-align: right;
}

.project-image {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  bottom: 5em;
  left: 0;
  padding-top: 4vw;
  padding-left: 4vw;
  padding-right: 0;
  padding-bottom: 0;
  text-align: center;
  overflow: hidden;
}

.project-image img {
  display: block;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 75vh;
}

.project-image figure {
  display: table;
  margin: auto;
  font-family: 'Gill Sans', sans serif; 
  font-size: 1em;
  font-weight: lighter;
}

.project-image figcaption {
  text-align: right;
}

.project-descr {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  bottom: 5em;
  right: 0;
  padding-top: 4vw;
  padding-left: 2vw;
  padding-right: 4vw;
  padding-bottom: 0;
  overflow: auto;
}

.project-header {
  margin-top: 0;
  border-bottom: 4px solid black;
  font-family: 'Gill Sans', sans serif; 
  font-size: 2em;
  font-weight: lighter;
  text-align: left;
}

.project-text {
  font-family: 'Gill Sans', sans serif; 
  font-size: 1em;
  font-weight: lighter;
  text-align: justify;
  margin: auto;
  vertical-align: middle;
}

.about-portrait {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  bottom: 5em;
  left: 0;
  padding-top: 4vw;
  padding-left: 4vw;
  padding-right: 0;
  padding-bottom: 0;
  text-align: center;
  overflow: hidden;
}

.about-portrait > img {
  display: block;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 75vh;
}

.about-descr {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  bottom: 5em;
  right: 0;
  padding-top: 4vw;
  padding-left: 2vw;
  padding-right: 4vw;
  padding-bottom: 0;
  overflow: auto;
}

.about-header {
  margin-top: 0;
  border-bottom: 4px solid black;
  font-family: 'Gill Sans', sans serif; 
  font-size: 2em;
  font-weight: lighter;
  text-align: left;
}

.about-cv {
  font-family: 'Gill Sans', sans serif; 
  font-size: 1em;
  font-weight: lighter;
  text-align: justify;
  margin: auto;
  vertical-align: middle;
}

.about-abstract {
  box-sizing: border-box;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 4em;
  padding-left: 4vw;
  padding-right: 0;
  font-family: 'Gill Sans', sans serif; 
  font-size: 1.5em;
  font-weight: lighter;
  text-align: justify;
}

.max-height {
  height: 100%;
}

.frame {
  position: relative;
  display: flex;
  display: -webkit-flex;
  padding: 2em;
}

.frame-image {
  width: 100%;
}

.frame-text-container {
  display: flex;
  align-items: center;
}

.frame-text {
  /* overflow: auto; */
  background: white;
  position: absolute;
  top: 4em;
  right: 4em;
  left: 4em;
  font-family: 'Gill Sans', sans serif;
  font-weight: lighter;
  font-size: 1.2em;
  font-weight: lighter;
  /* margin: 2em; */
  margin: auto;
  padding: 0 1em 0 1em;
  text-align: center;
}

/* on hover over project picture -> show project description */

.frame > .frame-image {
  display: block;
}

.frame > .frame-text {
  display: none;
}

/* .frame:hover > .frame-image { */
/*   display: none; */
/* } */

.frame:hover > .frame-text {
  display: block;
}

.me {
  margin: auto;
  margin-top: 3em;
  margin-bottom: 3em;
  font-family: 'Gill Sans', sans serif; 
  font-size: 1.5em;
  font-weight: lighter;
  text-align: center;
  text-transform: uppercase;
  border: 2px solid black;
  padding: 0.8em;
}

.you {
  margin: auto;
  font-family: 'Gill Sans', sans serif; 
  font-weight: lighter;
  text-align: center;
  text-transform: lowercase;
}

a {
  color: black;
  line-height: 1.5; 
  text-decoration: none;
}

a:hover {
  border-bottom: 4px solid black;
}

body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  overflow: auto;
}

/* body::-webkit-scrollbar {  */
/*   display: none;  */
/* } */

.gallery {
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
  margin: 1em 6em 6em 6em;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
