@font-face {
    font-family: 'BLOKKNeue-Regular';
    src: url('fonts/BLOKKNeue-Regular.eot');
    src: url('fonts/BLOKKNeue-Regular.eot?#iefix') format('embedded-opentype'),
         url('fonts/BLOKKNeue-Regular.woff') format('woff'),
         url('fonts/BLOKKNeue-Regular.svg#BLOKKNeue-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.debug {
  box-sizing: border-box;
  border: 2px dotted red;
  background-color: gold;
}

.nav1 {
  margin-top: 0;
  padding-left: 4vw;
  padding-right: 0;
  font-size: 2.5em;
  font-weight: lighter;
  text-align: center;
}

.nav2 {
  margin-top: 0;
  padding-left: 2vw;
  padding-right: 2vw;
  font-size: 2.5em;
  font-weight: lighter;
  text-align: right;
}

.project-image {
  max-width: 60%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 4vw;
  padding-left: 4vw;
  padding-right: 0;
  padding-bottom: 0;
  /* vertical-align: middle; */
}

.project-text {
  font-weight: lighter;
  text-align: justify;
  margin: auto;
  vertical-align: middle;
}

.project-header {
  margin-top: 0;
  border-bottom: 4px solid black;
  font-family: 'Gill Sans', sans serif; 
  font-size: 2em;
  font-weight: lighter;
  text-align: left;
}

.project-descr {
  font-family: 'BLOKKNeue-Regular', sans serif;
  padding-top: 4vw;
  padding-left: 2vw;
  padding-right: 4vw;
  padding-bottom: 0;
}

.max-height {
  height: 100%;
}

.frame-image {
  display: block;
}

.frame-text {
  display: none;
  font-family: 'BLOKKNeue-Regular', sans serif;
  font-weight: lighter;
  text-align: left;
  margin: auto;
  padding-left: 1em;
  padding-right: 1em;
}

.frame-text-inner {
  overflow: hidden;
  /* margin-left: -1em; */
  /* margin-right: -1em; */
}

img {
  display:block;
}

.frame > .frame-image {
  display: block;
}

.frame > .frame-text {
  display: none;
}

.frame:hover > .frame-image {
  display: none;
}

.frame:hover > .frame-text {
  display: block;
}

.me {
  display: block;
  font-family: 'Gill Sans', sans serif; 
  font-size: 2em;
  font-weight: lighter;
  vertical-align: middle;
  text-align: center;
  text-transform: uppercase;
}

.you {
  display: block;
  font-family: 'Gill Sans', sans serif; 
  font-weight: lighter;
  vertical-align: middle;
  text-align: center;
  /* text-transform: uppercase; */
}

.vertical-center-wrapper {
  display:         box;
  display:    -moz-box;
  display: -webkit-box;

          box-pack:center;
     -moz-box-pack:center;
  -webkit-box-pack:center;
  
          box-align:center;
     -moz-box-align:center;
  -webkit-box-align:center;
}

a {
  color: black;
  line-height: 1.5; 
  text-decoration: none;
}

a:hover {
  border-bottom: 4px solid black;
}

body, html {
  height: 100%;
  margin: 0;
  padding: 0;
/*   padding-top: 20px; */
/*   padding-bottom: 20px; */
}
