<div class="pure-g">
  <div class="pure-u-1-5 frame vertical-center-wrapper" ng-repeat="_ in firstFrames()">
    <div class="frame-text">
      <p><a href="#/project">This is some text about the project.</a></p>
    </div>
    <div class="frame-image">
      <img src="images/thumb2.png" width="100%" ng-show="$odd"></img>
      <img src="images/thumb3.png" width="100%" ng-show="$even"></img>
    </div>
  </div>
  
  <div class="pure-u-1-5 frame vertical-center-wrapper">
    <span class="anna"><a href="#">Anna Sundukova</a></span>
  </div>

  <div class="pure-u-1-5 frame vertical-center-wrapper" ng-repeat="_ in lastFrames()">
    <div class="frame-text">
      <p><a href="#/project">This is some text about the project.</a></p>
    </div>
    <div class="frame-image">
      <img src="images/thumb2.png" width="100%" ng-show="$odd"></img>
      <img src="images/thumb3.png" width="100%" ng-show="$even"></img>
    </div>
  </div>
  
  <div class="pure-u-1-5 frame vertical-center-wrapper">
    <span class="robert"><a href="#">@rdanitz</a></span>
  </div>

</div>
