<div class="pure-g max-height">
  <div class="pure-u-3-4 vertical-center-wrapper">
    <div class="project-image">
      <img  width="100%" src="images/thumb3.png" />
    </div>
  </div>
  
  <div class="pure-u-1-4">
    <div class="project-descr">
      <h1 class="project-header">{{projectTitle}}</h1>
      <div class="project-text vertical-center-wrapper">
        <p>{{projectDescr}}</p>
      </div>
    </div>
  </div>
  
  <div class="pure-u-3-4">
    <div class="nav1">
      <span><a ng-click="prev()">&lt;</a></span>&nbsp;&nbsp;<span><a ng-click="next()">&gt;</a></span>
    </div>
  </div>
  
  <div class="pure-u-1-4">
    <div class="nav2">
      <span><a href="#/">^</a></span>
    </div>
  </div>
</div>
