<div class="pure-g max-height">
  <div class="pure-u-3-4 vertical-center-wrapper">
    <div class="project-image">
      <img  width="100%" src="images/thumb3.png" />
    </div>
  </div>
  
  <div class="pure-u-1-4">
    <div class="project-descr">
      <h1 class="project-header">Some Project Title</h1>
      <div class="project-text vertical-center-wrapper">
        <p>Narwhal master cleanse letterpress, four dollar toast try-hard wolf authentic aesthetic 90's locavore single-origin coffee Pinterest. Bitters banjo deep v put a bird on it crucifix PBR&B. Hella disrupt cliche ennui before they sold out, lumbersexual forage tattooed PBR&B whatever single-origin coffee Vice. American Apparel bitters keytar, raw denim Schlitz mustache crucifix scenester post-ironic freegan health goth. Fap wayfarers salvia, cardigan Banksy squid taxidermy actually literally 8-bit church-key. Taxidermy beard actually fashion axe irony fixie sustainable, fingerstache VHS. Wayfarers photo booth cold-pressed chia you probably haven't heard of them mumblecore gentrify, roof party distillery authentic.</p>
      </div>
    </div>
  </div>
  
  <div class="pure-u-3-4">
    <div class="nav1">
      <span><a href="#">&lt;</a></span>&nbsp;&nbsp;<span><a href="#">&gt;</a></span>
    </div>
  </div>
  
  <div class="pure-u-1-4">
    <div class="nav2">
      <span><a href="#/">^</a></span>
    </div>
  </div>
</div>
